body {
background-color: black;
   background-image: url("images/mainwall.png"); 
}

img:hover {
  transform: scale(1.11);
}


.clip-text {
  background: url('https://media.giphy.com/media/3o85xH0vZ6np1ciShW/giphy.gif');
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  flex-shrink: 0;
}

h1 {
  color: white;
  font-family: 'Sriracha', cursive;
}

.section-odd {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-right: 230px;
  margin-left: 230px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-even {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-right: 230px;
  margin-left: 230px;
  margin-bottom: 30px;
  background-color: rgba(203, 173, 72, 0.3);
}


.basefooter {
  width: 100%;
  height: 300px;
  background-color: white;
  color: white;
  font-size: 1rem;
}
